a(href="#")
    img(src="./img/socials/facebook.svg", alt="Facebook")
a(href="#")
    img(src="./img/socials/instagram.svg", alt="Instagram")
a(href="#")
    img(src="./img/socials/linkedin.svg", alt="Linkedin")
a(href="#")
    img(src="./img/socials/vk.svg", alt="VK")